services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    networks:
      - hupey_net
    depends_on:
      - frontend
      
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    networks:
      - hupey_net

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - hupey_net

  mc:
    image: itzg/minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
    volumes:
      - ./mc-data:/data
    networks:
      - hupey_net

  # pihole:
  #   container_name: pihole
  #   image: pihole/pihole:latest
  #   environment:
  #     TZ: 'America/New_York'
  #     WEBPASSWORD: ${WEBPASSWORD}
  #   volumes:
  #     - './etc-pihole:/etc/pihole'
  #     - './etc-dnsmasq.d:/etc/dnsmasq.d'
  #   networks:
  #     - hupey_net
  #   restart: unless-stopped
  #   ports:
  #     - "8081:80"

networks:
  hupey_net:
    driver: bridge
    name: hupey_network